<h1>Dogs</h1>
<form form data-id={{albId}} id="form" name="busForm">
  <div class="mb-3">
    <input type="text" class="form-control" name="photo_title" placeholder="photo_title">
    <input type="text" class="form-control" name="description" placeholder="description">
    <input type="file" class="form-control" name="image" placeholder="image">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>


	<div class="container">
<div id="dogList">
	{{#each dogs}}
	<div id='div-{{id}}' class="card standart"  >
  <img src="{{this.image}}" class="card-img-top" alt={{this.breed}}>
  <div class="card-body">
    <h5 class="card-title">{{this.breed}}</h5>
    <p class="card-text">{{this.description}}</p>
    <button data-more={{id}} class="btn btn-primary">view more</button>
		<button data-edit={{id}} class="btn btn-primary" type="click">edit</button>
		<button data-delete={{id}} class="btn btn-primary" type="click">delete</button>
  </div>
</div>
{{/each}}
</div>
</div>
